.image-container {
    width: 100%;
    height: auto;
    top: 0%;
    position: relative;
    z-index: 50;
    margin-top: -10%; /* Change the value according to your navbar height */
}

.typewriter {
    position: absolute;
    top: 40%;
    color: ghostwhite;
    left: 50%;
    transform: translateX(-50%);
  }

.bgvideo {
    width: 100%;
    height: auto;
    filter: brightness(50%);
    transition: filter 1s ease-in-out;
}

  
  .bgvideo.scrolled {
    filter: brightness(50%) blur(3px);
  }
  

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.list-item {
    margin-bottom: -35px;
}

.typewriter-h1 {
  font-size: 3rem;
}