/* Info component styling */
.Hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    }
    
    .title {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    .description {
    font-size: 1.2vw;
        line-height: 1.5;
    }
/* Clients component styling */
.Clients {
    display: flex;
    color: ghostwhite;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #26272B;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    }
.ClientImage {
    width: 60%;
    height: auto;
}

.quotes {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5rem;
    z-index: 100;
    font-size: 1.2vw;
    }

.quotator{
    text-align: right;
    font-weight: 800;
    padding: 1rem;
    font-size: 1.2vw;
}

.table-row{
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}