.err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: ghostwhite;
    text-align: center;
  }
  
  .err h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .err p {
    font-size: 2rem;
    color: #777;
  }